- extends 'header.haml'

- block content

    .panel.panel-default
        .panel-body
            %h2
                Unable to get definitions via pg_dump.
            %p
                = sError











