- extends 'header.haml'

- block content

    / commits panel
    .panel.panel-default
        .panel-body{ :style => "height: 300px; overflow: scroll; scroll: vertical;" }
            %table.commits#commits

    / control panel
    .panel.panel-default
        .panel-body
            Choose commit, look at the diff, choose objects to be applied and click
            %button.btn.btn-default#apply{ :type => "button" }
                Apply
            %div{ :style => "float: right;" }
                To fill migration table without actual deploying click
                %button.btn.btn-default#imitate{ :type => "button" }
                    Imitate


    / short messages
    #messager.alert{ :role => "alert", :style => "display: none;" }
        1

    / div to show diff between git and database
    #diff

    / template for commits
    %script{ :id => "commits-template", :type => "text/template" }
        {{#commits}}
        %tr
            %td{ :style => "font-family: Courier", :onclick => "Git.checkout('{{commit_hash}}')" }
                %span.commit{ :class => "commit-{{commit_active}}", :id => "commit-{{commit_hash}}" }
                    {{commit_hash}}
            %td{ :style => "font-family: " }
                {{commit_message}}
        {{/commits}}
    / end of template

    / template for diff
    %script{ :id => "diff-template", :type => "text/template" }
        {{#schemas}}
        .panel.panel-default
            .panel-heading
                %span.label.label-primary<>
                    {{schema_name}}
                &nbsp;
                %span.label.label-primary<>
                    {{object_index}}
                %div{ :style => "float: right;" }
                    Toggle all
                    %span.semi-link{ :onclick => "Git.toggleSchema('{{schema_name}}');" }
                        in schema
                    or
                    %span.semi-link{ :onclick => "Git.toggleSchemaObject('{{schema_name}}', '{{object_index}}');" }
                        in schema and object
            %table.table.table-diff
                {{#objects}}
                %tr
                    %td.item.item-name
                        {{object_name}}
                    %td.item.item-view-dependencies
                        {{#dependencies_exist}}
                        %span.label.label-danger
                            There are dependencies
                        {{/dependencies_exist}}
                        {{#signature_changed}}
                        %span.label.label-danger
                            Signature changed
                        {{/signature_changed}}
                        {{#return_type_changed}}
                        %span.label.label-danger
                            Return type changed
                        {{/return_type_changed}}
                        {{#new_object}}
                        %span.label.label-success
                            New object
                        {{/new_object}}
                        {{#manual_deployment_required}}
                        %span.label.label-warning
                            Manual deployment required
                        {{/manual_deployment_required}}
                    %td.item.item-view-diff
                        %a{ :href => "/{{database_name}}/{{schema_name}}/{{object_index}}/{{object_name}}/view_diff/", :target => "_blank" }
                            %span.solid-link
                                View diff
                    %td.item.item-view-apply
                        %input{ :class => "apply s-{{schema_name}} o-{{object_index}}", :type => "checkbox", :checked => "checked", :name => "{{schema_name}}/{{object_index}}/{{object_name}}", :value => "1" }
                        %span.semi-link
                            Apply
                {{#dependencies}}
                %tr
                    %td.item.item-dependent-name{ :colspan => 2, :style => "padding-left: 50px;" }
                        {{additional_sql}}
                    %td.item.item-view-diff
                        %a{ :href => "/{{database_name}}/{{dependency_schema_name}}/{{dependency_object_index}}/{{dependency_object_name}}/view_diff/", :target => "_blank" }
                            %span.solid-link
                                View diff
                    %td.item.item-view-apply
                        Will be applied automatically
                {{/dependencies}}
                {{/objects}}

        {{/schemas}}

        {{^schemas}}
        .panel.panel-default
            .panel-heading
                Up-to-date
            .panel-body
                Your database is up-to-date with {{commit_hash}}
        {{/schemas}}
    / end of template



    :javascript

        $(window).ready(function() {

            Git.diff_template = $("#diff-template").html();
            Git.commits_template = $("#commits-template").html();

            Git.database_name = $("#database-name").prop("value");
            Git.getCommits();

            $("#apply").click(function() {
                Git.apply();
            });

            $("#imitate").click(function() {
                Git.imitate();
            });

        });







